In [12]:
#use "data_definition/person_t.ml"

(* person_t型はパーソナルデータを格納するレコードです *)

(* person_t list は
  - []               空リスト、あるいは
  - first :: rest    最初の要素がfirst, 残りのリストがrest（firstはperson_t型, restは自己参照しているケース）
という形のデータ型 *)

type person_t = {
  name : string;
  shincho : float;
  taiju : float;
  tsuki : int;
  hi : int;
  ketsueki : string;
}
val person1 : person_t =
  {name = "浅井"; shincho = 1.72; taiju = 58.5; tsuki = 9; hi = 17;
   ketsueki = "A"}
val person2 : person_t =
  {name = "宮原"; shincho = 1.63; taiju = 55.; tsuki = 6; hi = 30;
   ketsueki = "B"}
val person3 : person_t =
  {name = "中村"; shincho = 1.68; taiju = 63.; tsuki = 6; hi = 6;
   ketsueki = "O"}
val person4 : person_t =
  {name = "粥川"; shincho = 1.68; taiju = 77.8; tsuki = 11; hi = 13;
   ketsueki = "B"}
val person5 : person_t =
  {name = "西尾"; shincho = 1.66; taiju = 75.2; tsuki = 9; hi = 26;
   ketsueki = "O"}
val person6 : person_t =
  {name = "坂庭"; shincho = 1.73; taiju = 74.3; tsuki = 6; hi = 12;
   ketsueki = "AB"}
val person7 : person_t =
  {name = "植松"; shincho = 1.8; taiju = 67.5; tsuki = 8; hi = 6;
   ketsueki = "AB"}
val person8 : person_t =
  {name = "永井"; shincho = 1.67; taiju = 57.8; tsuki = 1; hi = 23;
   ketsueki = "B"}

In [13]:
let lst1 = []
let lst2 = [person1]
let lst3 = [person3; person1; person7; person6]
let lst4 = [person1; person3; person2; person4; person7; person5; person6; person8]

val lst1 : 'a list = []

val lst2 : person_t list =
  [{name = "浅井"; shincho = 1.72; taiju = 58.5; tsuki = 9; hi = 17;
    ketsueki = "A"}]

val lst3 : person_t list =
  [{name = "中村"; shincho = 1.68; taiju = 63.; tsuki = 6; hi = 6;
    ketsueki = "O"};
   {name = "浅井"; shincho = 1.72; taiju = 58.5; tsuki = 9; hi = 17;
    ketsueki = "A"};
   {name = "植松"; shincho = 1.8; taiju = 67.5; tsuki = 8; hi = 6;
    ketsueki = "AB"};
   {name = "坂庭"; shincho = 1.73; taiju = 74.3; tsuki = 6; hi = 12;
    ketsueki = "AB"}]

val lst4 : person_t list =
  [{name = "浅井"; shincho = 1.72; taiju = 58.5; tsuki = 9; hi = 17;
    ketsueki = "A"};
   {name = "中村"; shincho = 1.68; taiju = 63.; tsuki = 6; hi = 6;
    ketsueki = "O"};
   {name = "宮原"; shincho = 1.63; taiju = 55.; tsuki = 6; hi = 30;
    ketsueki = "B"};
   {name = "粥川"; shincho = 1.68; taiju = 77.8; tsuki = 11; hi = 13;
    ketsueki = "B"};
   {name = "植松"; shincho = 1.8; taiju = 67.5; tsuki = 8; hi = 6;
    ketsueki = "AB"};
   {name = "西尾"; shincho = 1.66; taiju = 75.2; tsuki = 9; hi = 26;
    ketsueki = "O"};
   {name = "坂庭"; shincho = 1.73; taiju = 74.3; tsuki = 6; hi = 12;
    ketsueki = "AB"};
   {name = "永井"; shincho = 1.67; taiju = 57.8; tsuki = 1; hi = 23;
    ketsueki = "B"}]

In [16]:
(* 目的: person_t list型のリストを受け取り、各血液型の人が何人いるかを返す *)
(* ketsueki_shukei : person_t list -> int * int * int * int *)
let rec ketsueki_shukei lst = match lst with
   [] -> (0, 0, 0, 0)
  | {name = n; shincho = s; taiju = t; tsuki = m; hi = d; ketsueki = k} :: rest
      -> let (a, b, o, c) = (ketsueki_shukei rest) in
            if k = "A" then (a + 1, b, o, c)
            else if k = "B" then (a, b + 1, o, c)
            else if k = "O" then (a, b, o + 1, c)
            else (a, b, o, c + 1)

(* テスト *)
let test1 = ketsueki_shukei lst1 = (0, 0, 0, 0)   (* 組＝(A, B, O, AB) *)
let test2 = ketsueki_shukei lst2 = (1, 0, 0, 0)
let test3 = ketsueki_shukei lst3 = (1, 0, 1, 2)
let test4 = ketsueki_shukei lst4 = (1, 3, 2, 2)

val ketsueki_shukei : person_t list -> int * int * int * int = <fun>

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

In [ ]:
(* 目的: 整数のリストを受け取り、最小値を返す *)

In [19]:
(* 目的: person_t型のリストを受け取り、４つの血液型のうち最も人数の多かった血液型を返す *)
(* saita_ketsueki : person_t list -> string *)
let saita_ketsueki lst = match lst with
   [] -> ""
  | first :: rest -> let (a, b, o, c) = (ketsueki_shukei lst) in
                     let saidai = max (max a b) (max o c) in
                       if saidai = a then "A"
                       else if saidai = b then "B"
                       else if saidai = o then "O"
                       else "AB"


(* テスト *)
let test5 = saita_ketsueki lst1 = ""
let test6 = saita_ketsueki lst2 = "A"
let test7 = saita_ketsueki lst3 = "AB"
let test8 = saita_ketsueki lst4 = "B"

val saita_ketsueki : person_t list -> string = <fun>

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

val test8 : bool = true