## 型の定義が必要な構造データを含む関数定義のデザインレシピ

### 1. 構造データの型の定義
#### 1. 構造データの目的（何のデータを定義しているのか？）をヘッダ情報として書く
#### 2. 各フィールドが何を意味するのかをコメントとして書く
### 2. 関数の目的と関数の型、関数の枠をヘッダ情報として書く
### 3. 関数の入出力の例と、テストプログラムを書く
### 4. テンプレートを作成する
### 5. 本体を実装し、テストする

In [19]:
(* 学生一人分のデータを表す型 *)
type gakusei_t = {
  namae : string;   (* 名前 *)
  tensuu : int;     (* 点数 *)
  seiseki : string; (* 成績 *)
}

type gakusei_t = { namae : string; tensuu : int; seiseki : string; }

In [23]:
(* 目的: 学生のデータgakuseiを受け取り、成績のついたデータを返す *)
(* hyouka : gakusei_t -> gakusei_t *)
let hyouka gakusei = match gakusei with
  {namae = n; tensuu = t; seiseki = s} ->
    if t >= 80 then      {namae = n; tensuu = t; seiseki = "A"}
    else if t >= 70 then {namae = n; tensuu = t; seiseki = "B"}
    else if t >= 60 then {namae = n; tensuu = t; seiseki = "C"}
    else                 {namae = n; tensuu = t; seiseki = "D"}

val hyouka : gakusei_t -> gakusei_t = <fun>

In [24]:
(* テスト *)
let test1 = hyouka {namae = "asai"; tensuu = 90; seiseki = ""}
          = {namae = "asai"; tensuu = 90; seiseki = "A"}
let test2 = hyouka {namae = "asai"; tensuu = 80; seiseki = ""}
          = {namae = "asai"; tensuu = 80; seiseki = "A"}
let test3 = hyouka {namae = "asai"; tensuu = 75; seiseki = ""}
          = {namae = "asai"; tensuu = 75; seiseki = "B"}
let test4 = hyouka {namae = "asai"; tensuu = 70; seiseki = ""}
          = {namae = "asai"; tensuu = 70; seiseki = "B"}
let test5 = hyouka {namae = "asai"; tensuu = 65; seiseki = ""}
          = {namae = "asai"; tensuu = 65; seiseki = "C"}
let test6 = hyouka {namae = "asai"; tensuu = 60; seiseki = ""}
          = {namae = "asai"; tensuu = 60; seiseki = "C"}
let test7 = hyouka {namae = "asai"; tensuu = 55; seiseki = ""}
          = {namae = "asai"; tensuu = 55; seiseki = "D"}

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

## 練習問題

In [30]:
(* 個人の身体的特徴をまとめたデータ *)
type person_t = {
  name : string;  (* 名前 *)
  tall : float;   (* 身長(m) *)
  weight : float; (* 体重(kg) *)
  birthday : int; (* 誕生日(月日) *)
  blood : string; (* 血液型 *)
}

type person_t = {
  name : string;
  tall : float;
  weight : float;
  birthday : int;
  blood : string;
}

In [33]:
(* 目的: パーソナルデータを受け取ったら、「◯◯さんの血液型は△です」という文字列を返す *)
(* ketsueki_hyoji : person_t -> string *)
let ketsueki_hyoji person = match person with
  {name = n; tall = t; weight = w; birthday = d; blood = b} -> n ^ "さんの血液型は" ^ b ^ "です"

val ketsueki_hyoji : person_t -> string = <fun>

In [36]:
(* テスト *)
let test1 = ketsueki_hyoji {name = "粥川"; tall = 1.7; weight = 77.2; birthday = 1113; blood = "B"} = "粥川さんの血液型はBです"
let test1 = ketsueki_hyoji {name = "坂庭"; tall = 1.74; weight = 74.; birthday = 623; blood = "AB"} = "坂庭さんの血液型はABです"
let test1 = ketsueki_hyoji {name = "絵里子"; tall = 1.58; weight = 48.3; birthday = 123; blood = "O"} = "絵里子さんの血液型はOです"

val test1 : bool = true

val test1 : bool = true

val test1 : bool = true