データ定義

In [4]:
(* 学生一人分のデータ（名前, 点数, 成績）を表す型 *)
type gakusei_t = {
  namae : string;     (* 名前 *)
  tensuu : int;       (* 点数 *)
  seiseki : string;   (* 成績 *)
}

(* gakusei_t list は
  - []             空リスト、あるいは
  - first :: rest  最初の要素がfirst, 残りのリストがrest
                   (firstがgakusei_t型, restが自己参照のケース)
という形のデータ *)

(* gakusei_t list 型のデータの例 *)
let lst1 = []
let lst2 = [{namae = "asai"; tensuu = 70; seiseki = "B"}]
let lst3 = [{namae = "asai"; tensuu = 70; seiseki = "B"};
            {namae = "kaneko"; tensuu = 85; seiseki = "A"}]
let lst4 = [{namae = "asai"; tensuu = 70; seiseki = "B"};
            {namae = "kaneko"; tensuu = 85; seiseki = "A"};
            {namae = "yoshida"; tensuu = 80; seiseki = "A"}]

type gakusei_t = { namae : string; tensuu : int; seiseki : string; }

val lst1 : 'a list = []

val lst2 : gakusei_t list = [{namae = "asai"; tensuu = 70; seiseki = "B"}]

val lst3 : gakusei_t list =
  [{namae = "asai"; tensuu = 70; seiseki = "B"};
   {namae = "kaneko"; tensuu = 85; seiseki = "A"}]

val lst4 : gakusei_t list =
  [{namae = "asai"; tensuu = 70; seiseki = "B"};
   {namae = "kaneko"; tensuu = 85; seiseki = "A"};
   {namae = "yoshida"; tensuu = 80; seiseki = "A"}]

目的

例とテストプログラム

In [18]:
(* 目的: 学生リストlstのうち成績がAの人の数を返す *)
(* count_A : gakusei_t list -> int *)
let rec count_A lst = match lst with
    [] -> 0
  | {namae = n; tensuu = t; seiseki = s} :: rest
    -> if s = "A" then 1 + count_A rest (* 再帰呼び出し可能な形 count_A rest *)
                  else count_A rest

(* テスト *)
let test1 = count_A lst1 = 0
let test2 = count_A lst2 = 0
let test3 = count_A lst3 = 1
let test4 = count_A lst4 = 2

val count_A : gakusei_t list -> int = <fun>

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

## 問１

データ定義

In [31]:
(* パーソナルデータ（身長, 体重, 誕生日, 血液型）を格納するデータ型 *)
type person_t = {
  namae : string;     (* 名前 *)
  tall : float;       (* 身長(m) *)
  weight : float;     (* 体重(kg) *)
  birthday : int;     (* 誕生日(月日) *)
  blood : string;     (* 血液型 *)
  seiza : string;     (* 星座 *)
}

(* person_t list は
  - []                空リスト、あるいは
  - first :: rest     最初の要素がfirst, 残りのリストがrest
                      (firstはperson_t型、restは自己参照しているケース)
という形のデータ型 *)

(* person_t list型のサンプル *)
let lst0 = []
let lst1 = [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113; blood = "B"; seiza = "乙女座"}]
let lst3 = [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113; blood = "B"; seiza = "乙女座"};
            {namae = "坂庭"; tall = 1.85; weight = 84.0; birthday = 1225; blood = "A"; seiza = "獅子座"}]
let lst4 = [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113; blood = "B"; seiza = "乙女座"};
            {namae = "坂庭"; tall = 1.85; weight = 84.0; birthday = 1225; blood = "A"; seiza = "獅子座"};
            {namae = "西尾"; tall = 1.56; weight = 45.9; birthday = 0921; blood = "A"; seiza = "乙女座"}]

type person_t = {
  namae : string;
  tall : float;
  weight : float;
  birthday : int;
  blood : string;
  seiza : string;
}

val lst0 : 'a list = []

val lst1 : person_t list =
  [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113;
    blood = "B"; seiza = "乙女座"}]

val lst3 : person_t list =
  [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113;
    blood = "B"; seiza = "乙女座"};
   {namae = "坂庭"; tall = 1.85; weight = 84.; birthday = 1225;
    blood = "A"; seiza = "獅子座"}]

val lst4 : person_t list =
  [{namae = "粥川"; tall = 1.76; weight = 77.6; birthday = 1113;
    blood = "B"; seiza = "乙女座"};
   {namae = "坂庭"; tall = 1.85; weight = 84.; birthday = 1225;
    blood = "A"; seiza = "獅子座"};
   {namae = "西尾"; tall = 1.56; weight = 45.9; birthday = 921;
    blood = "A"; seiza = "乙女座"}]

In [29]:
(* 目的: パーソナルデータのリストを受け取ったら、血液型がA型の人の数を返す *)
(* count_ketsueki_A : person_t list -> int *)
let rec count_ketsueki_A lst = match lst with
    [] -> 0
  | {tall = t; weight = w; birthday = b; blood = k} :: rest
       -> if k = "A" then 1 + count_ketsueki_A rest (* count_ketsueki_A rest *)
                     else count_ketsueki_A rest

(* テスト *)
let test0 = count_ketsueki_A lst0 = 0
let test1 = count_ketsueki_A lst1 = 0
let test3 = count_ketsueki_A lst3 = 1
let test4 = count_ketsueki_A lst4 = 2

val count_ketsueki_A : person_t list -> int = <fun>

val test0 : bool = true

val test1 : bool = true

val test3 : bool = true

val test4 : bool = true

In [35]:
(* 目的: パーソナルデータのリストを受け取ったら、乙女座の人の名前のみからなるリストを返す *)
(* otomeza : person_t list -> string list *)
let rec otomeza lst = match lst with
    [] -> []
  | {namae = n; tall = t; weight = w; birthday = b; blood = k; seiza = s} :: rest
       -> if s = "乙女座" then n :: otomeza rest (* otomeza rest *)
                         else otomeza rest

(* テスト *)
let test5 = otomeza lst0 = []
let test6 = otomeza lst1 = ["粥川"]
let test7 = otomeza lst3 = ["粥川"]
let test8 = otomeza lst4 = ["粥川"; "西尾"]

val otomeza : person_t list -> string list = <fun>

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

val test8 : bool = true