In [5]:
(* 目的: 受け取ったlstの要素それぞれの先頭にnをくっつける *)
(* add_to_each : int list -> int list list -> int list list *)
let rec add_to_each n lst = match lst with
  [] -> []
  | first :: rest -> (n :: first) :: add_to_each n rest (* add_to_each n rest *)

val add_to_each : 'a -> 'a list list -> 'a list list = <fun>

In [9]:
(* 目的: 受け取ったlstの接頭語のリストを求める *)
(* prefix : int list -> int list list *)
let rec prefix lst = match lst with
  [] -> []
  | first :: rest -> [first] :: add_to_each first (prefix rest) (* prefix rest *)

val prefix : 'a list -> 'a list list = <fun>

In [7]:
(* テスト *)
let test1 = add_to_each 1 [] = []
let test2 = add_to_each 1 [[2]] = [[1; 2]]
let test3 = add_to_each 1 [[2]; [2; 3]] = [[1; 2]; [1; 2; 3]]
let test4 = add_to_each 1 [[2]; [2; 3]; [2; 3; 4]] = [[1; 2]; [1; 2; 3]; [1; 2; 3; 4]]

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

### Q1

In [11]:
(* テスト *)
let test5 = prefix [] = []
let test6 = prefix [1] = [[1]]
let test7 = prefix [1; 2] = [[1]; [1; 2]]
let test8 = prefix [1; 2; 3; 4] = [[1]; [1; 2]; [1; 2; 3]; [1; 2; 3; 4]]

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

val test8 : bool = true

In [25]:
(* 目的: 昇順に並んでいるリストlstと整数nを受け取ったら、lstを前から順に探索し、昇順となる位置にnを挿入したリストを返す *)
(* insert : int list -> int -> int list *)
let rec insert lst n = match lst with
  [] -> n :: []
  | first :: rest -> if (n <= first) then n :: (first :: rest)
                                      else first :: (insert rest n) (* insert rest n *)

val insert : 'a list -> 'a -> 'a list = <fun>

In [26]:
(* テスト *)
let test1 = insert [] 5 = [5]
let test2 = insert [2; 3; 5] 1 = [1; 2; 3; 5]
let test3 = insert [1; 3; 4; 7; 8] 5 = [1; 3; 4; 5; 7; 8]
let test4 = insert [1; 3; 4; 5; 7; 8; 10] 9 = [1; 3; 4; 5; 7; 8; 9; 10]

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

### Q2

In [32]:
(* 目的: 整数のリストを受け取ったら、昇順に整列したリストを返す(挿入ソート) *)
(* ins_sort : int list -> int list *)
let rec ins_sort lst = match lst with
  [] -> []
  | first :: rest -> insert (ins_sort rest) first (* ins_sort rest *)

val ins_sort : 'a list -> 'a list = <fun>

In [34]:
(*　テスト *)
let test1 = ins_sort [] = []
let test2 = ins_sort [3; 1] = [1; 3]
let test3 = ins_sort [5; 3; 8; 1; 7; 4] = [1; 3; 4; 5; 7; 8]
let test4 = ins_sort [12; 89; 34; 2; 8; 4; 29; 80] = [2; 4; 8; 12; 29; 34; 80; 89]

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

### Q3

In [ ]:
(* 学生のデータ（名前, 点数, 成績）を表す型 *)
type gakusei_t = {
  namae : string;     (* 名前 *)
  tensuu : int;       (* 点数 *)
  seiseki : string;   (* 成績 *)
}

(* gakusei_t list は
  - []                空リスト、あるいは
  - first :: rest     最初の要素がfirst, 残りのリストがrest
                      (firstはgakusei_t型, restは自己参照するケース)
という形のデータ型 *)

(* 学生のデータの例 *) 
let gakusei1 = {namae="nakamura"; tensuu=90; seiseki="A"} 
let gakusei2 = {namae="miyahara"; tensuu=80; seiseki="A"} 
let gakusei3 = {namae="sato"; tensuu=75; seiseki="B"} 
let gakusei4 = {namae="idehara"; tensuu=70; seiseki="B"} 
let gakusei5 = {namae="tsubata"; tensuu=65; seiseki="C"} 
let gakusei6 = {namae="asai"; tensuu=60; seiseki="C"} 
 
(* 学生のリストの例 *) 
let lst1 = [] 
let lst2 = [gakusei2] 
let lst3 = [gakusei3; gakusei4] 
let lst4 = [gakusei4; gakusei3] 
let lst5 = [gakusei4; gakusei1; gakusei6; gakusei5; gakusei2; gakusei3]

In [67]:
(* 目的: 昇順に並んでいるgakusei_t list型lstのtensuuの昇順の位置にgakuseiを挿入したリストを返す *)
(* gakusei_insert : gakusei_t list -> gakusei_t -> gakusei_t list *)
let rec gakusei_insert lst gakusei0 = match lst with
  [] -> [gakusei0]
  | ({namae = n; tensuu = t; seiseki = s} as first) :: rest
     -> match gakusei0 with {namae = n0; tensuu = t0; seiseki = s0}
       -> if t0 <= t then gakusei0 :: (lst)
                      else first :: (gakusei_insert rest gakusei0) (* 再帰呼び出し gakusei_insert rest gakusei0 *)

val gakusei_insert : gakusei_t list -> gakusei_t -> gakusei_t list = <fun>

In [68]:
(* テスト *) 
let test1 = gakusei_insert [] gakusei2 = [gakusei2] 
let test2 = gakusei_insert [gakusei4] gakusei3 = [gakusei4; gakusei3] 
let test3 = gakusei_insert [gakusei3] gakusei4 = [gakusei4; gakusei3] 
let test4 = gakusei_insert [gakusei6; gakusei5; gakusei3; gakusei2; gakusei1] gakusei4 
          = [gakusei6; gakusei5; gakusei4; gakusei3; gakusei2; gakusei1]

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

In [65]:
(* 目的: gakusei_t型のリストを受け取ったら、tensuuフィールドの昇順に整列したリストを返す *)
(* gakusei_ins_sort : gakusei_t list -> gakusei_t list *)
let rec gakusei_ins_sort lst = match lst with
  [] -> []
  | first :: rest -> gakusei_insert (gakusei_ins_sort rest) first (* gakusei_ins_sort rest *)

val gakusei_ins_sort : gakusei_t list -> gakusei_t list = <fun>

In [66]:
(* テスト *) 
let test5 = gakusei_ins_sort lst1 = [] 
let test6 = gakusei_ins_sort lst2 = [gakusei2] 
let test7 = gakusei_ins_sort lst3 = [gakusei4; gakusei3] 
let test8 = gakusei_ins_sort lst4 = [gakusei4; gakusei3] 
let test9 = gakusei_ins_sort lst5 = [gakusei6; gakusei5; gakusei4; gakusei3; gakusei2; gakusei1]

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

val test8 : bool = true

val test9 : bool = true

### Q4

In [82]:
(* 人に関する情報を格納するレコード *) 
type person_t = { 
  name : string;    (* 名前 *) 
  shincho : float;  (* 身長 *) 
  taiju : float;    (* 体重 *) 
  birthday : int;   (* 誕生日 *) 
  ketsueki : string;(* 血液型 *) 
} 

(* person_t list は
  - []             空リスト、あるいは
  - first :: rest  最初の要素がfirst, 残りのリストがrest
                   (firstはperson_t型, restが自己参照しているケース)
という形のデータ型 *)

(* サンプルデータ *)
let person1 = {name = "粥川"; shincho =  1.67; taiju = 77.8; birthday = 1113; ketsueki = "B"}
let person2 = {name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday =0624 ; ketsueki = "AB"}
let person3 = {name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 0926; ketsueki = "O"}
let person4 = {name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225; ketsueki = "A"}
let person5 = {name = "榊原"; shincho = 1.68; taiju = 55.3; birthday = 1231; ketsueki = "A"}
(* サンプルリスト *)
let lst1 = []
let lst2 = [person2; person4]
let lst3 = [person1; person2; person4]
let lst4 = [person3; person1; person5; person2]
let lst5 = []
let lst6 = [person3; person2]
let lst7 = [person4; person1; person3]
let lst8 = [person2; person5; person3; person1; person4]

type person_t = {
  name : string;
  shincho : float;
  taiju : float;
  birthday : int;
  ketsueki : string;
}

val person1 : person_t =
  {name = "粥川"; shincho = 1.67; taiju = 77.8; birthday = 1113;
   ketsueki = "B"}

val person2 : person_t =
  {name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
   ketsueki = "AB"}

val person3 : person_t =
  {name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 926;
   ketsueki = "O"}

val person4 : person_t =
  {name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225;
   ketsueki = "A"}

val person5 : person_t =
  {name = "榊原"; shincho = 1.68; taiju = 55.3; birthday = 1231;
   ketsueki = "A"}

val lst1 : 'a list = []

val lst2 : person_t list =
  [{name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
    ketsueki = "AB"};
   {name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225;
    ketsueki = "A"}]

val lst3 : person_t list =
  [{name = "粥川"; shincho = 1.67; taiju = 77.8; birthday = 1113;
    ketsueki = "B"};
   {name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
    ketsueki = "AB"};
   {name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225;
    ketsueki = "A"}]

val lst4 : person_t list =
  [{name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 926;
    ketsueki = "O"};
   {name = "粥川"; shincho = 1.67; taiju = 77.8; birthday = 1113;
    ketsueki = "B"};
   {name = "榊原"; shincho = 1.68; taiju = 55.3; birthday = 1231;
    ketsueki = "A"};
   {name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
    ketsueki = "AB"}]

val lst5 : 'a list = []

val lst6 : person_t list =
  [{name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 926;
    ketsueki = "O"};
   {name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
    ketsueki = "AB"}]

val lst7 : person_t list =
  [{name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225;
    ketsueki = "A"};
   {name = "粥川"; shincho = 1.67; taiju = 77.8; birthday = 1113;
    ketsueki = "B"};
   {name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 926;
    ketsueki = "O"}]

val lst8 : person_t list =
  [{name = "坂庭"; shincho = 1.73; taiju = 74.2; birthday = 624;
    ketsueki = "AB"};
   {name = "榊原"; shincho = 1.68; taiju = 55.3; birthday = 1231;
    ketsueki = "A"};
   {name = "西尾"; shincho = 1.66; taiju = 76.2; birthday = 926;
    ketsueki = "O"};
   {name = "粥川"; shincho = 1.67; taiju = 77.8; birthday = 1113;
    ketsueki = "B"};
   {name = "新井"; shincho = 1.83; taiju = 67.3; birthday = 1225;
    ketsueki = "A"}]

In [89]:
(* 目的: 身長順に整列されたperson_t list型リストlstを受け取り、person_t型のデータperson0を正しい位置に挿入したリストを返す *)
(* person_insert : person_t list -> person_t -> person_t list *)
let rec person_insert lst person0 = match lst with
   [] -> [person0]
  | {name = n; shincho = s; taiju = t; birthday = b; ketsueki = k} as first :: rest
      -> match person0 with {name = n0; shincho = s0; taiju = t0; birthday = b0; ketsueki = k0}
        -> if s < s0 then first :: (person_insert rest person0) (* person_insert rest person0 *)
                      else person0 :: lst

(* 目的: person_t list型のリストを受け取ったら、身長の順に整列したリストを返す *)
(* person_ins_sort : person_t list -> person_t list *)
let rec person_ins_sort lst = match lst with
  [] -> []
  | first :: rest -> person_insert (person_ins_sort rest) first (* person_ins_sort *)

val person_insert : person_t list -> person_t -> person_t list = <fun>

val person_ins_sort : person_t list -> person_t list = <fun>

In [90]:
(* person_insertのテスト *)
let test2 = person_insert lst2 person1 = [person1; person2; person4]
let test3 = person_insert lst3 person5 = [person1; person5; person2; person4]
let test4 = person_insert lst4 person4 = [person3; person1; person5; person2; person4]
(* person_ins_sortのテスト *)
let test5 = person_ins_sort lst5 = []
let test6 = person_ins_sort lst6 = [person3; person2]
let test7 = person_ins_sort lst7 = [person3; person1; person4]
let test8 = person_ins_sort lst8 = [person3; person1; person5; person2; person4]

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

val test5 : bool = true

val test6 : bool = true

val test7 : bool = true

val test8 : bool = true

In [25]:
(* 目的: 受け取ったlstの中の最小値を返す *)
(* minimum: int list -> int *)
let rec minimum lst = match lst with
  [] -> max_int
  | first :: rest -> let min_rest = minimum rest in
                         if first <= min_rest
                         then first
                         else min_rest (* minimum rest *)
  
(* テスト *)
let test1 = minimum [3] = 3
let test2 = minimum [1; 2] = 1
let test3 = minimum [3; 2] = 2
let test4 = minimum [3; 2; 6; 4; 1; 8] = 1

val minimum : int list -> int = <fun>

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test4 : bool = true

### Q5

In [13]:
(* 学生のデータ（名前, 点数, 成績）を表す型 *)
type gakusei_t = {
  namae : string;     (* 名前 *)
  tensuu : int;       (* 点数 *)
  seiseki : string;   (* 成績 *)
}

(* gakusei_t list は
  - []                空リスト、あるいは
  - first :: rest     最初の要素がfirst, 残りのリストがrest
                      (firstはgakusei_t型, restは自己参照するケース)
という形のデータ型 *)

(* 学生のデータの例 *) 
let gakusei1 = {namae="nakamura"; tensuu=90; seiseki="A"} 
let gakusei2 = {namae="miyahara"; tensuu=80; seiseki="A"} 
let gakusei3 = {namae="sato"; tensuu=75; seiseki="B"} 
let gakusei4 = {namae="idehara"; tensuu=70; seiseki="B"} 
let gakusei5 = {namae="tsubata"; tensuu=65; seiseki="C"} 
let gakusei6 = {namae="asai"; tensuu=60; seiseki="C"} 
 
(* 学生のリストの例 *) 
let lst1 = [] 
let lst2 = [gakusei2] 
let lst3 = [gakusei3; gakusei4] 
let lst4 = [gakusei4; gakusei3] 
let lst5 = [gakusei4; gakusei1; gakusei6; gakusei5; gakusei2; gakusei3]

type gakusei_t = { namae : string; tensuu : int; seiseki : string; }

val gakusei1 : gakusei_t = {namae = "nakamura"; tensuu = 90; seiseki = "A"}

val gakusei2 : gakusei_t = {namae = "miyahara"; tensuu = 80; seiseki = "A"}

val gakusei3 : gakusei_t = {namae = "sato"; tensuu = 75; seiseki = "B"}

val gakusei4 : gakusei_t = {namae = "idehara"; tensuu = 70; seiseki = "B"}

val gakusei5 : gakusei_t = {namae = "tsubata"; tensuu = 65; seiseki = "C"}

val gakusei6 : gakusei_t = {namae = "asai"; tensuu = 60; seiseki = "C"}

val lst1 : 'a list = []

val lst2 : gakusei_t list =
  [{namae = "miyahara"; tensuu = 80; seiseki = "A"}]

val lst3 : gakusei_t list =
  [{namae = "sato"; tensuu = 75; seiseki = "B"};
   {namae = "idehara"; tensuu = 70; seiseki = "B"}]

val lst4 : gakusei_t list =
  [{namae = "idehara"; tensuu = 70; seiseki = "B"};
   {namae = "sato"; tensuu = 75; seiseki = "B"}]

val lst5 : gakusei_t list =
  [{namae = "idehara"; tensuu = 70; seiseki = "B"};
   {namae = "nakamura"; tensuu = 90; seiseki = "A"};
   {namae = "asai"; tensuu = 60; seiseki = "C"};
   {namae = "tsubata"; tensuu = 65; seiseki = "C"};
   {namae = "miyahara"; tensuu = 80; seiseki = "A"};
   {namae = "sato"; tensuu = 75; seiseki = "B"}]

In [26]:
(* 目的: gakusei_t list型のリスト受け取ったら、その中から最高得点を取った人のレコードを返す *)
(* gakusei_max : gakusei_t list -> gakusei_t *)
let rec gakusei_max lst = match lst with
   [] -> {namae = ""; tensuu = min_int; seiseki = ""}
  | ({namae = n; tensuu = t; seiseki = s} as first) :: rest
      -> let max_human = (gakusei_max rest) in
         match max_human with {namae = n0; tensuu = t0; seiseki = s0}
        -> if t >= t0 then first
                      else max_human
                                   
(* テスト *)
let test2 = gakusei_max lst2 = gakusei2
let test3 = gakusei_max lst3 = gakusei3
let test5 = gakusei_max lst5 = gakusei1

val gakusei_max : gakusei_t list -> gakusei_t = <fun>

val test2 : bool = true

val test3 : bool = true

val test5 : bool = true

## ネストされた関数とローカル変数
ネストされた関数により関数が定義されている場合で、同じ関数を関数内のあちこちで何度も呼び出している場合は、ローカル変数に関数の値を入れて使い回すようにする。計算量の削減になる

In [32]:
(* 目的: 学生リストlstのうち、各成績の人数を集計する *)
(* shukei : gakusei_t list -> int * int * int * int *)
let rec shukei lst = match lst with
   [] -> (0, 0, 0, 0)
  | {namae = n; tensuu = t; seiseki = s} :: rest
      -> let shukei_rest = (shukei rest) in match shukei_rest with (a, b, c, d) (* shukei rest *)
           -> if s = "A" then (a + 1, b, c, d)
              else if s = "B" then (a, b + 1, c, d)
              else if s = "C" then (a, b, c + 1, d)
              else (a, b, c, d + 1)

(* テスト *)
let test1 = shukei lst1 = (0, 0, 0, 0)
let test2 = shukei lst2 = (1, 0, 0, 0)
let test3 = shukei lst3 = (0, 2, 0, 0)
let test5 = shukei lst5 = (2, 2, 2, 0)

val shukei : gakusei_t list -> int * int * int * int = <fun>

val test1 : bool = true

val test2 : bool = true

val test3 : bool = true

val test5 : bool = true